/*svg*/
svg {
  margin-top: 5px;
}

[class*="logo-"] {
  -webkit-transition: all 333ms ease-out;
  -moz-transition: all 333ms ease-out;
  -o-transition: all 333ms ease-out;
  transition: all 333ms ease-out;
}

.logo-svg {
  transition-delay: 222ms;
}

.logo-c {
  fill: #607D8B;
  transition-delay: 444ms;
}

[class*="logo-m-left-"] {
  transition-delay: 388.5ms;
}

.logo-m-left-1 {
  fill: #BDBDBD;
}

.logo-m-left-2 {
  opacity: 0.4;
  fill: #555;
}

.logo-m-right {
  fill: #555;
  transition-delay: 333ms;
}

.logo-type {
  opacity: 0;
  transition-delay: 0ms;
}

.logo-svg:hover {
  margin-left: 0;
  transition-delay: 0ms;
}
.logo-svg:hover .logo-c {
  fill: #4FC3F7;
  transition-delay: 222ms;
}
.logo-svg:hover [class*="logo-m-left-"] {
  transition-delay: 277.5ms;
}
.logo-svg:hover .logo-m-left-1 {
  fill: #2962FF;
}
.logo-svg:hover .logo-m-left-2 {
  opacity: 0.4;
  fill: #EC008C;
}
.logo-svg:hover .logo-m-right {
  fill: #F9ED32;
  transition-delay: 333ms;
}
.logo-svg:hover .logo-type-group .logo-type {
  fill: #64B5F6;
  opacity: 1;
}
.logo-svg:hover .logo-type {
  transition-delay: 388.5ms;
}
.logo-svg:hover .logo-type-code-c {
  transition-delay: 444ms;
  font-size: 0.5em;
}
.logo-svg:hover .logo-type-code-da {
  transition-delay: 444ms;
  font-size: 1.5em;
}
.logo-svg:hover .logo-type-code-o {
  transition-delay: 471.75ms;
}
.logo-svg:hover .logo-type-code-d {
  transition-delay: 499.5ms;
}
.logo-svg:hover .logo-type-code-e {
  transition-delay: 527.25ms;
}
.logo-svg:hover .logo-type-motel-m {
  transition-delay: 444ms;
}
.logo-svg:hover .logo-type-motel-o {
  transition-delay: 471.75ms;
}
.logo-svg:hover .logo-type-motel-t {
  transition-delay: 499.5ms;
}
.logo-svg:hover .logo-type-motel-e {
  transition-delay: 527.25ms;
}
.logo-svg:hover .logo-type-motel-l {
  transition-delay: 555ms;
}

/*End svg*/
header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 194, 198, 0.8)), to(rgba(43, 61, 78, 0.5))), url("../img/Marketing digital.jpeg");
    background: linear-gradient(to bottom, rgba(188, 194, 198, 0.8) 0%, rgba(43, 61, 78, 0.5) 100%), url("../img/Marketing digital.jpeg");
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}
/*Blog*/
header.masthead.blog {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 194, 198, 0.8)), to(rgba(43, 61, 78, 0.5))), url("../img/blog.jpeg");
  background: linear-gradient(to bottom, rgba(188, 194, 198, 0.8) 0%, rgba(43, 61, 78, 0.5) 100%), url("../img/blog.jpeg");
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 576px) {
  header.masthead h1 {
    font-size: 2em;
  }
  header.masthead h2 {
    font-size: 1.2em;
  }
  header.masthead.blog h1{
    font-size: 2em;
  }
  header.masthead.blog h2{
    font-size: 1.2em;
  }
}
/*Social icons*/
.social-icons {
    color: #000;
    background: #fff;
    border-radius: 50%;
    padding: 11px;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  .social-icons:hover {
    color: #fff;
    background: #000;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
/*End Social icons*/
/*Team*/
.team-member, .team-member .team-img {
    position: relative;
  }
  .team-member {
    overflow: hidden;
  }
  .team-member, .team-member .team-img {
    position: relative;
  }
  
  .team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    transition: all 0.3s;
  }
  .team-member:hover .team-hover .desk {
    top: 35%;
  }
  .team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
  }
  .team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    transform: translateY(-55%);
    transition: all 0.3s 0.2s;
    padding: 0 20px;
  }
  .desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #000;
  }
  .team-member:hover .team-hover .s-link {
    bottom: 10%;
  }
  .team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
  }
  .team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    transform: translateY(45%);
    transition: all 0.3s 0.2s;
    font-size: 35px;
  }
  
  .team-member .s-link a {
    margin: 0 10px;
    color: #000;
    background: #fff;
    font-size: 16px;
  }
  /*agregado hover para tarjetas de team*/
  .s-link a:hover {
    color: #fff;
    background: #000;
  }
  .team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
  }
  .team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
  }
  .team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
  }
  
/*End Team*/
/*Carousel*/
.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media (max-width: 576px) {
  .carousel-caption h3 {
    font-size: 1em;
  }
}
/*End Carousel*/
/*Shares*/
.share{
    color:#000;
    position: fixed;
    left:1%;
    top:45%;
    z-index: 3;
}
.share:hover{
    color: #c0bdbd;
}
.sharebuttons{
    background: #000;
    padding: 10px;
    border-radius: 20px;
    position: fixed;
    left:1%;
    top:50%;
    z-index: 3;
}
/*Menu footer*/
.smoothscroll {
    display: inline-block;
    padding: .5rem 1rem;
  }
