@font-face {
    font-family: 'MinionPro-Bold';
    font-family: 'MinionPro-Semibold';
    font-family: 'MyriadPro-Bold';
    font-family: 'MyriadPro-Light';
    font-family: 'MyriadPro-Regular';
    font-family: 'MyriadPro-Semibold';
    src: url(../assets/Fonts/MinionPro-Bold.otf);
    src: url(../assets/Fonts/MinionPro-Semibold.otf);
    src: url(../assets/Fonts/MyriadPro-Bold.otf);
    src: url(../assets/Fonts/MyriadPro-Light.otf);
    src: url(../assets/Fonts/MyriadPro-Regular.otf);
    src: url(../assets/Fonts/MyriadPro-Semibold.otf);
}
body {
    font-family: 'Source Sans Pro';  
    background-color: #000; 
    z-index: -1;
}
.masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.masthead.home{
    background-image: url('../assets/img/Network\ Digital\ Advertising\ Team.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}
header .web{
    background-image: url('../assets/img/lines-dat.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 35% auto;
}
.navbar {
    padding: 0.7rem 1rem;
    
    font-size: 1rem;
    
    letter-spacing: 0.1rem;
    transition: background-color 0.5s ease 0s;
  }
  
  .navbar-brand img {
    height: 2rem;
  }

  i {
    color: #FFF;
    font-size: 1.6rem;
  }
  
  .navbar-nav li {
    padding-right: 0.8rem;
    display: block;
    margin: 0 auto;
  }
  
  .navbar-nav .nav-link {
    color: rgba(255,255,255,0.7);
    padding-top: 0.8rem;
  }
  
  .navbar-nav .nav-link.active,.navbar-nav .nav-link:hover{
    color: #FFF;
  }
  
  .navbar.solid {
    background: rgb(241, 90, 41) !important;
    transition: background-color 1s ease 0s;
  }
  
/* CUSTOM SCROLLBAR */ 

.h{
    border-top: 3px solid rgb(241, 90, 41);
    width: 50px;
    position: relative;
    margin-top: 25px;
    margin-right: 5px;
}
hr{
    height: 3px;
    width: 100%;
    background-color: rgb(241, 90, 41);
}
span{
    color: rgb(241, 90, 41);
    font-size: 0.8em;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
background: #1E2427; 
}

::-webkit-scrollbar-thumb {
background:rgb(241, 90, 41); 
}

::-webkit-scrollbar-thumb:hover {
background: #fff; 
}


/*@media (min-width: 992px) {
    .masthead {
        height: 100vh;
    }
    .masthead h1 {
        font-family: 'MyriadPro-Semibold';
    }
    .about{
        text-align: right;
    }
}*/
/*.masthead video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
}*/
.content-section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}
.content-section.home {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    background-image: url('../assets/img/Network\ Digital\ Advertising\ Team.png');
    background-repeat: repeat;
    background-position: top center;
    background-size: 100% auto;
}
.orange{
    background: rgb(241, 90, 41);
}
footer.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: url('../assets/img/Network\ Digital\ Advertising\ Team.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}
  
footer.footer .social-link {
    display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: #000;
    -webkit-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
    -webkit-box-shadow: 0 3px 3px 0 #fff;
    box-shadow: 0 3px 3px 0 #fff;
}

footer.footer .social-link:hover {
    background-color: rgba(241, 89, 41,0.7);
    text-decoration: none;
}

a {
    color: #fff;
}

a:hover, a:focus, a:active {
color: #000;
text-decoration: none;
}

.btn-primary {
    background-color: rgb(241, 90, 41) !important;
    border-color: rgb(241, 90, 41) !important;
    color: #fff !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color:#fff;
    background-color: #000 !important;
    border-color: #fff !important;
}
@media (min-width: 992px) {
    .masthead {
        height: 100vh;
    }
    .masthead h1 {
        font-family: 'MyriadPro-Semibold';
    }
    .about{
        text-align: right;
    }
    .colserv1{
        padding: 15px 15px;
        border: 1px solid #6c757d;
        width: 50px;
    }
    .colserv2{
        padding: 15px 15px;
        border: 1px solid #6c757d;
        width: 50px;
    }
    .colserv3{
        padding: 15px 15px;
        border: 1px solid #6c757d;
        width: 50px;
    }
    .colserv4{
        padding: 15px 15px;
        border: 1px solid #6c757d;
        width: 50px;
    }
}
@media (max-width: 576px) { 
    .h{
        width: 30px;
        position: relative;
        margin-top: 15px;
        margin-right: 5px;
    }
    .masthead h1{
        font-size:1.5em;
    }
    
    .content-section {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .colserv1,.colserv2, .colserv3, .colserv4{
        padding-top: 40px;
    }
 }
