.navbar{
z-index: 3;
}
section {
    min-height: 100%;
    box-sizing: border-box;
    padding-right: 120px;
}

#menu,
#why {
    padding: 0px;
}

.cemail {
    padding-left: 15px;
}

.topmenu {
    height: 139px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-left: calc((100% - 1710px) / 2);
    background: #fff;
    box-sizing: border-box;
}

.logo {
    
    display: inline-block;
    width: 206px;
    margin-top: 12px;
}

.logo .name {
    text-align: center;
    width: 100%;
}

.csik {
    overflow: hidden;
}

.logo .csik {
    background-color: #fff;
    height: 9px;
    margin-top: 12px;
}

.logo .csik-1 {
    width: 100%;
}

.logo .csik-2 {
    width: 66%;
}

.logo .csik-3 {
    width: 33%;
}

.logo-kicsi {
    width: 84px;
    margin-top: 50px;
    float: right;
    margin-right: 15px;
}

.logo-kicsi .csik {
    height: 4px;
    margin-top: 6px;
}

.logo-top-right {
    position: fixed;
    right: 0px;
    top: 0px;
    transition: 1s;
    background: #000;
    width: 120px;
    height: 139px;
    font-family: 'Montserrat', sans-serif;
}

.sidemenu-holder {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index:2;
    height: 140px;
    width: 120px;
    transition: 1s;
}

.sidemenu-holder:hover {
    height: 100%;
    width: auto;
}

.sidemenu {
    opacity: 0;
    z-index: 2;
    position: absolute;
    right: 0px;
    top: 139px;
    transition: 1s;
    background: #fff;
    width: 120px;
    height: calc(100% - 139px);
    font-family: 'Montserrat', sans-serif;
}

.sidemenu-holder:hover .sidemenu {
    opacity: 1;
}

.sidemenu .menu {
    font-size: 20px;
    margin-top: 60px;
    font-weight: 900;
    text-align: left;
    padding-left: 20px;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-transform: uppercase;
    box-sizing: border-box;
    text-decoration: none;
}

.sidemenu .menu .name {
    opacity: 0;
    transition: 1s;
    font-size: 15px;
    white-space: nowrap;
    margin-left: 30px;
}

.sidemenu .menu .number {
    transition: 1s;
}

.sidemenu a,
.sidemenu a .menu span {
    text-decoration: none;
    color: black;
}

.sidemenu .menu01:hover span {
    color:#F1592A;
}

.sidemenu .menu02:hover span {
    color: #F1592A;
}

.sidemenu .menu03:hover span {
    color: #F1592A;
}

.sidemenu .menu04:hover span {
    color: #F1592A;
}

.sidemenu:hover {
    background: #fff;
    width: 380px;
}

.sidemenu:hover .menu .name {
    display: inline;
    opacity: 1;
}

.bigmenu-holder {
    display: table;
    width: calc(100% - 140px);
    height: 100vh;
    position: relative;
}

.bigmenu {
    box-sizing: border-box;
    margin-top: 139px;
    display: table-cell;
    vertical-align: middle;
    padding-left: calc((100% - 1710px) / 2);
}

.bigmenu .mainmenu {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
}

.bigmenu .submenu {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-left: 20px;
    text-transform: uppercase;
    opacity: 0;
    transition: 1s;
}

.bigmenu .menu {
    padding-bottom: 20px;
    transition: 1s;
}

.hover:hover .menu {
    opacity: 0.2;
}

.hover:hover .menu:hover,
.hover:hover .menu:hover .submenu {
    opacity: 1;
}

.bigmenu .alahuzas {
    height: 3px;
    width: 0px;
    transition: 2s;
    margin-bottom: 15px;
}

.hover:hover .menu:hover .alahuzas {
    width: 100%;
}

.logo-huge {
    width: 1100px;
}

.logo-huge .csik-holder .csikhover {
    background: #1d1d1b;
    opacity: 0;
    color: #fff200;
    font-weight: 900;
    font-size: 27px;
    margin-top: 0px;
    max-height: 0px;
    transition: 1s;
    padding: 0px;
    overflow: hidden;
    box-sizing: border-box;
}

.logo-huge .csik-holder:hover .csikhover,
.logo-huge .csik-holder:focus .csikhover {
    padding: 20px;
    max-height: 500px;
    margin-top: 10px;
    opacity: 1;
}

.logo-huge .csik {
    height: 49px;
    margin-top: 33px;
    color: #fff200;
    font-size: 33px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    text-align: right;
    white-space: nowrap;
    line-height: 49px;
    padding-right: 20px;
    box-sizing: border-box;
    overflow: hidden;
    transition: 2s;
    opacity: 1;
}

.logo-auto .csik,
.logo-contact .csik {
    transition: 2s;
    white-space: nowrap;
}

.cim {
    padding-top: 20px;
    text-align: right;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #008284;
    padding-right: 15px;
    margin-bottom: 20px;
}

.dark {
    color: #008284;
}

.white {
    color: #ffffff;
}

#how {
    background: #4ff0d4;
}

.boxok {
    max-width: 1620px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
}

.box {
    position: relative;
    width: 240px;
    height: 240px;
    background: #00ced1;
    color: #008284;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    display: block;
    float: left;
    margin: 15px;
}

.box.white {
    background: #008284;
    color: white;
}

.box.double {
    width: 510px;
    background: none;
    font-size: 60px;
    text-align: left;
    line-height: 80px;
}

.box.double .title {
    text-align: left;
}

.box .title {
    display: block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.box .top {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 3px;
    background: #008284;
    height: 3px;
    width: 0%;
    transition: 0.5s;
    -webkit-transition-timing-function: linear;
    /* Safari and Chrome */
    transition-timing-function: linear;
}

.box .bottom {
    position: absolute;
    bottom: 0px;
    height: 3px;
    background: #008284;
    height: 3px;
    width: 0%;
    right: 0px;
    transition: 0.5s;
    -webkit-transition-timing-function: linear;
    /* Safari and Chrome */
    transition-timing-function: linear;
}

.box .right {
    position: absolute;
    right: 0px;
    height: 3px;
    background: #008284;
    width: 3px;
    height: 0%;
    top: 0px;
    transition: 0.5s;
    -webkit-transition-timing-function: linear;
    /* Safari and Chrome */
    transition-timing-function: linear;
}

.box .left {
    position: absolute;
    left: 0px;
    height: 3px;
    background: #008284;
    width: 3px;
    height: 0%;
    bottom: 0px;
    transition: 0.5s;
    -webkit-transition-timing-function: linear;
    /* Safari and Chrome */
    transition-timing-function: linear;
}

.box.white .top,
.box.white .right,
.box.white .left,
.box.white .bottom {
    background: white;
}

#what .box {
    background: none;
    background-position: center center;
    background-size: cover;
    width: 374px;
    height: 448px;
    background-color: white;
}

#what .box .title {
    color: black;
}

#what .box .hov {
    opacity: 0;
    transition: 1s;
    width: 100%;
    padding-top: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    box-sizing: border-box;
}

.dij {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #d8e56e;
    line-height: 30px;
    font-size: 20px;
    color: black;
    font-weight: 900;
}

#what .box:hover .hov {
    opacity: 1;
}

.hov .vastag {
    color: #d8e56e;
    font-size: 18px;
    font-weight: 900;
}

#what .box .keret {
    border: 3px solid #d8e56e;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#so_now_what {
    background: #0292c7;
}

.top_section {
    margin-bottom: 30px;
    padding-top: 30px;
}

.text-contact {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
}

.logo-auto {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
}

.logo-auto .csik {
    height: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
}

.bottom_section {
    margin-bottom: 30px;
    padding-top: 30px;
    position: relative;
}

.bottom_section img {
    width: 100%;
    margin-top: -20px;
    opacity: 0.7;
    transition: 1s;
}

.logo-contact {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #0292c7;
    font-weight: 900;
    font-size: 48px;
    position: absolute;
    top: 30px;
    left: 0px;
}

.logo-contact .csik {
    height: 45px;
    margin-top: 20px;
    margin-bottom: 30px;
    background: white;
    text-align: right;
    padding-right: 20px;
    font-size: 35px;
    line-height: 45px;
    box-sizing: border-box;
}

.logo-contact .csik-1 {
    width: calc( 100% - 20px);
}

.logo-contact .csik-2 {
    width: 66%;
}

.logo-contact .csik-3 {
    width: 40%;
}

.social {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.social.fb {
    background-image: url(/images/fb_kicsi_white.png);
}

.social.fb:hover {
    background-image: url(/images/fb_kicsi.png);
}

.social.insta {
    background-image: url(/images/insta_kicsi_white.png);
}

.social.insta:hover {
    background-image: url(/images/insta_kicsi.png);
}

.social.mail {
    background-image: url(/images/email_kicsi_white.png);
}

.social.mail:hover {
    background-image: url(/images/email_kicsi.png);
}

.social.viber {
    background-image: url(/images/viber_kicsi_white.png);
}

.social.viber:hover {
    background-image: url(/images/viber_kicsi.png);
}

.social.whatsup {
    background-image: url(/images/whtsup_kicsi_white.png);
}

.social.whatsup:hover {
    background-image: url(/images/whtsup_kicsi.png);
}

.social.snapchat {
    background-image: url(/images/snapchat_kicsi_white.png);
}

.social.snapchat:hover {
    background-image: url(/images/snapchat_kicsi.png);
}

.kicsi.social {
    width: 20px;
    height: 20px;
    margin: 0px;
    margin-left: 20px;
}

.kicsi.social.fb {
    background-image: url(/images/fb_kicsi_copy.png);
}

.kicsi.social.fb:hover {
    background-image: url(/images/fb_kicsi_white.png);
}

.kicsi.social.insta {
    background-image: url(/images/insta_kicsi_copy.png);
}

.kicsi.social.insta:hover {
    background-image: url(/images/insta_kicsi_white.png);
}

.kicsi.social.mail {
    background-image: url(/images/email_kicsi_copy.png);
}

.kicsi.social.mail:hover {
    background-image: url(/images/email_kicsi_white.png);
}

.kicsi.social.viber {
    background-image: url(/images/viber_kicsi_copy.png);
}

.kicsi.social.viber:hover {
    background-image: url(/images/viber_kicsi_white.png);
}

.kicsi.social.whatsup {
    background-image: url(/images/whtsup_kicsi_copy.png);
}

.kicsi.social.whatsup:hover {
    background-image: url(/images/whtsup_kicsi_white.png);
}

.kicsi.social.snapchat {
    background-image: url(/images/snapchat_kicsi_copy.png);
}

.kicsi.social.snapchat:hover {
    background-image: url(/images/snapchat_kicsi_white.png);
}

.name .kicsi.social.fb:hover {
    background-image: url(/images/fb_kicsi_copy.png);
}

.name .kicsi.social.fb {
    background-image: url(/images/fb_kicsi.png);
}

.name .kicsi.social.insta:hover {
    background-image: url(/images/insta_kicsi_copy.png);
}

.name .kicsi.social.insta {
    background-image: url(/images/insta_kicsi.png);
}

.name .kicsi.social.mail:hover {
    background-image: url(/images/email_kicsi_copy.png);
}

.name .kicsi.social.mail {
    background-image: url(/images/email_kicsi.png);
}

.name .kicsi.social.viber:hover {
    background-image: url(/images/viber_kicsi_copy.png);
}

.name .kicsi.social.viber {
    background-image: url(/images/viber_kicsi.png);
}

.name .kicsi.social.whatsup:hover {
    background-image: url(/images/whtsup_kicsi_copy.png);
}

.name .kicsi.social.whatsup {
    background-image: url(/images/whtsup_kicsi.png);
}

.name .kicsi.social.snapchat:hover {
    background-image: url(/images/snapchat_kicsi_copy.png);
}

.name .kicsi.social.snapchat {
    background-image: url(/images/snapchat_kicsi.png);
}

.social-top {
    display: inline-block;
    float: right;
    padding-top: 46px;
}

.social_kicsi {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.social_kicsi.fb {
    background-image: url(/images/fb_kicsi.png);
}

.social_kicsi.insta {
    background-image: url(/images/insta_kicsi.png);
}

.social_kicsi.mail {
    background-image: url(/images/mail_kicsi.png);
}

.social_kicsi.viber {
    background-image: url(/images/viber_kicsi.png);
}

.social_kicsi.whatsup {
    background-image: url(/images/whatsup_kicsi.png);
}

.social_kicsi.snapchat {
    background-image: url(/images/snapchat_kicsi.png);
}

.potty {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: white;
    margin-bottom: 0px;
}

.potty.nagy {
    height: 30px;
    width: 30px;
    border-radius: 20px;
}

.noscreen.csik {
    width: 0px;
    opacity: 0;
}


#p4 {
    opacity: 0;
}

@media screen and (max-width: 1900px) {
    .boxok {
        max-width: 1300px;
    }
    .box {
        width: 186px;
        height: 186px;
        font-size: 15px;
    }
    .box.double {
        width: 402px;
        font-size: 50px;
        line-height: 66px;
    }
    section {
        padding-left: 0px;
        padding-right: 120px;
    }
    .topmenu {
        padding-left: calc((100% - 1390px) / 2)
    }
    .bigmenu {
        padding-left: calc((100% - 1390px) / 2);
    }
    #what .box {
        width: 295px;
        height: 350px;
    }
}

@media screen and (max-width: 1420px) {
    .cim {
        font-size: 25px;
    }
    .boxok {
        max-width: 900px;
    }
    section {
        padding-left: 0px;
        padding-right: 120px;
    }
    .logo-contact .csik {
        height: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 17px;
        line-height: 25px;
    }
    .logo-auto {
        font-size: 16px;
    }
    .social {
        height: 20px;
        width: 20px;
        margin-right: 30px;
        margin-top: 8px;
    }
    .text-contact {
        font-size: 20px;
    }
    .topmenu {
        padding-left: 10px
    }
    .bigmenu {
        padding-left: 10px
    }
    .box {
        width: 140px;
        height: 140px;
        margin: 5px;
        font-size: 15px;
    }
    .logo-huge .csik-holder .csikhover {
        font-size: 17px;
    }
    .box.double {
        width: 290px;
        font-size: 34px;
        line-height: 45px;
    }
    #what .box {
        width: 215px;
        height: 260px;
    }
    #what .box .hov {
        padding: 15px;
        padding-top: 30px;
        font-size: 12px;
        line-height: 20px;
    }
}

@media screen and (max-width: 1220px) {
    .boxok {
        max-width: 900px;
    }
    section {
        padding-left: 0px;
        padding-right: 120px;
    }
    .topmenu {
        padding-left: 10px
    }
    .bigmenu {
        padding-left: 10px
    }
    .box {
        width: 140px;
        height: 140px;
        margin: 5px;
        font-size: 15px;
    }
    .box.double {
        width: 290px;
        font-size: 36px;
        line-height: 45px;
    }
    #what .box {
        width: 215px;
        height: 260px;
    }
    .logo-huge {
        width: 800px;
    }
}

@media screen and (max-width: 1024px) {
    .bigmenu .mainmenu {
        font-size: 30px;
    }
    .bigmenu .submenu {
        font-size: 15px;
    }
    .bigmenu .alahuzas {
        margin-bottom: 10px;
    }
    .boxok {
        max-width: 600px;
    }
    .social_kicsi {
        margin-right: 20px;
    }
    section {
        padding-left: 0px;
        padding-right: 120px;
    }
    .logo-huge {
        width: 540px;
    }
    .logo-huge .csik {
        height: 25px;
        line-height: 25px;
        font-size: 20px;
    }
    .logo-huge .csik-holder .csikhover {
        font-size: 20px;
    }
    .topmenu {
        padding-left: 10px
    }
    .bigmenu {
        padding-left: 10px
    }
    .box {
        width: 85px;
        height: 85px;
        margin: 2px;
        font-size: 10px;
    }
    .box.double {
        width: 175px;
        font-size: 20px;
        line-height: 26px;
    }
    #what .box {
        width: 130px;
        height: 160px;
    }
    #what .box .hov {
        padding: 20px;
        font-size: 9px;
    }
    .potty.nagy {
        width: 15px;
        height: 15px;
        margin-bottom: 0px;
    }
    .logo-contact {
        top: 0px;
        margin: 0px;
    }
    .logo-contact .csik {
        margin-top: 20px;
    }
    .logo-auto {
        font-size: 15px;
    }
    .logo-auto .csik {
        height: 10px;
        margin-bottom: 10px;
    }
    .potty {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background: white;
        margin-bottom: 10px;
    }
    .social {
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
    .cim {
        font-size: 16px;
    }
    .bottom_section img {
        margin-top: 0px;
    }
}

@media screen and (max-width: 590px) {
    
    #p4 {
        display: none;
    }
}

@media screen and (max-height: 800px) {
    .topmenu {
        height: 100px;
    }
    .logo-top {
        width: 154px;
    }
    .social-top {
        padding-top: 20px;
    }
    .logo-top .csik {
        height: 6px;
        margin-top: 8px;
    }
    .logo-kicsi {
        width: 84px;
        margin-top: 25px;
    }
    .logo-kicsi .csik {
        height: 4px;
        margin-top: 6px;
    }
    .logo-top-right {
        height: 100px;
    }
    .sidemenu {
        height: calc(100% - 100px);
        top: 100px;
    }
}

@media screen and (max-height: 400px) {
    .bigmenu .mainmenu {
        font-size: 15px;
    }
    .bigmenu .submenu {
        font-size: 10px;
    }
    .bigmenu .alahuzas {
        margin-bottom: 5px;
    }
    .boxok {
        max-width: 540px;
    }
    .social_kicsi {
        margin-right: 20px;
    }
    .sidemenu {
        width: 60px;
    }
    .sidemenu .menu {
        margin-top: 20px;
    }
    section {
        padding-left: 0px;
        padding-right: 60px;
    }
    .logo-huge {
        width: 300px;
    }
    .logo-huge .csik {
        height: 20px;
        margin-top: 15px;
        color: #fff200;
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        text-align: right;
        white-space: nowrap;
        line-height: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        overflow: hidden;
        transition: 2s;
        opacity: 1;
    }
    .logo-huge .csik-holder .csikhover {
        font-size: 10px;
    }
    .cim {
        font-size: 12px;
    }
    .potty.nagy {
        width: 15px;
        height: 15px;
        margin-bottom: 0px;
    }
    .logo-contact {
        top: 0px;
        margin: 0px;
    }
    .logo-contact .csik {
        height: 20px;
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .topmenu {
        padding-left: 10px
    }
    .bigmenu {
        padding-left: 10px
    }
    .box {
        width: 85px;
        height: 85px;
        margin: 2px;
        font-size: 10px;
    }
    .box.double {
        width: 175px;
        font-size: 20px;
        line-height: 26px;
    }
    #what .box {
        width: 130px;
        height: 160px;
    }
    .logo-auto {
        font-size: 15px;
    }
    .logo-auto .csik {
        height: 10px;
        margin-bottom: 10px;
    }
    .potty {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background: white;
        margin-bottom: 10px;
    }
    .social {
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 940px) {
    .hov {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .hov {
        display: none;
    }
    .dij {
        line-height: 18px;
        font-size: 10px;
    }
    .cemail {
        padding-left: 0px;
    }
    .bigmenu .submenu {
        padding-left: 0px;
    }
    .hover.onscreen .menu {
        opacity: 0.2;
    }
    .hover.onscreen .menu,
    .hover.onscreen .menu .submenu {
        opacity: 1;
    }
    .hover.onscreen .menu .alahuzas {
        width: 100%;
    }
    .hover>a:nth-child(1) .menu,
    .hover>a:nth-child(1) .menu .submenu,
    .hover>a:nth-child(1) .menu .alahuzas {
        transition-delay: 4s;
    }
    .hover>a:nth-child(2) .menu,
    .hover>a:nth-child(2) .menu .submenu,
    .hover>a:nth-child(2) .menu .alahuzas {
        transition-delay: 5s;
    }
    .hover>a:nth-child(3) .menu,
    .hover>a:nth-child(3) .menu .submenu,
    .hover>a:nth-child(3) .menu .alahuzas {
        transition-delay: 6s;
    }
    .hover>.menu,
    .hover>.menu .submenu,
    .hover>.menu .alahuzas {
        transition-delay: 7s;
    }
    .logo-kicsi,
    .logo-top-right {
        display: none;
    }
    .social-top {
        width: 40%;
    }
    .kicsi.social {
        width: 12px;
        height: 12px;
        margin-left: 10px;
        position: relative;
        top: 0px;
    }
    .social_kicsi {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 10px;
    }
    .sidemenu {
        display: none;
    }
    .bigmenu .mainmenu {
        font-size: 15px;
    }
    .bigmenu .submenu {
        font-size: 10px;
    }
    section {
        padding-left: 10px;
        padding-right: 10px;
    }
    .bigmenu-holder {
        width: 100%;
    }
    .logo-huge {
        width: 100%;
    }
    .nyil {
        display: none;
    }
    .logo-huge .csik {
        height: 40px;
        margin-top: 33px;
        color: #fff200;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        text-align: right;
        white-space: nowrap;
        line-height: 40px;
        padding-right: 20px;
        box-sizing: border-box;
        overflow: hidden;
        transition: 2s;
        opacity: 1;
    }
    .logo-huge .csik-3 {
        width: 50%;
    }
    .logo-huge .csik-3.noscreen {
        width: 0%;
    }
    .csikhover {
        font-size: 12px;
    }
    .logo-huge .csik-holder .csikhover {
        font-size: 10px;
    }
    .box {
        width: calc(50% - 15px);
    }
    .box.double {
        width: calc(100% - 15px);
    }
    .box.double .title {
        padding-top: 20px;
        text-align: center;
    }
    #what .box {
        width: calc(50% - 15px);
        height: 200px;
    }
    .cim {
        font-size: 12px;
    }
    .potty.nagy {
        width: 15px;
        height: 15px;
        margin-bottom: 0px;
    }
    .logo-contact {
        top: -50px;
        margin: 0px;
    }
    .logo-contact .csik {
        height: 20px;
        font-size: 10px;
        line-height: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .logo-contact .csik-3 {
        width: 40%;
    }
    .logo-auto {
        font-size: 15px;
    }
    .logo-auto .csik {
        height: 10px;
        margin-bottom: 10px;
    }
    .potty {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background: white;
        margin-bottom: 10px;
    }
    .social {
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
    #so_now_what {
        padding-top: 20px !important;
    }
    .bottom_section img {
        margin-top: -12px;
    }
    .logo-auto {
        padding-left: 0px;
        padding-right: 0px;
    }
    .box {
        font-size: 9px;
    }
    .logo-contact .csik-1,
    .logo-contact .csik-2,
    .logo-contact .potty {
        opacity: 0;
    }
    .logo-contact .csik-3 {
        width: 45%;
    }
}
