@font-face {
  font-family: 'MinionPro-Bold';
  font-family: 'MinionPro-Semibold';
  font-family: 'MyriadPro-Bold';
  font-family: 'MyriadPro-Light';
  font-family: 'MyriadPro-Regular';
  font-family: 'MyriadPro-Semibold';
  src: url(assets/Fonts/MinionPro-Bold.otf);
  src: url(assets/Fonts/MinionPro-Semibold.otf);
  src: url(assets/Fonts/MyriadPro-Bold.otf);
  src: url(assets/Fonts/MyriadPro-Light.otf);
  src: url(assets/Fonts/MyriadPro-Regular.otf);
  src: url(assets/Fonts/MyriadPro-Semibold.otf);
}
body{
  background-color: black;
  opacity: 0.7;
}

/* CUSTOM SCROLLBAR */ 
      
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1E2427; 
}

::-webkit-scrollbar-thumb {
  background:#F1592A ; 
}

::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}
img.image{
  width: 20px;
}
.scroll-down {
  position: absolute;
  right: 0px;
  bottom: 2%;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 180px;
  margin-right: 2%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}
.vertical-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  margin-bottom: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 10px;
  line-height: 25px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.scroll-down {
  left: auto;
  right: 1%;
  z-index: 1;
}
.scroll-down {
  right: 2%;
}
.vertical-text {
  margin-bottom: -30px;
  font-size: 9px;
}
.scroll-down {
  bottom: 5%;
}

h1{
  font-family: 'MyriadPro-Semibold';
}
h2.leyend{
  font-size: 0.8em;
  line-height: 1.7em;
  color: #F1592A;
  padding-top: 10px;
}
.header .navbar {
  background-color: transparent !important;
  z-index: -1000;
}
header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}
.colserv2{
  margin-top:40px;
}
.colserv4{
  margin-top:40px;
}
.h{
  border-top: 3px solid #F1592A;
  width: 50px;
  position: relative;
  margin-top: 25px;
  margin-right: 5px;
}
hr{
  height: 3px;
  width: 100%;
  background-color: #F1592A;
}
span{
  color: #F1592A;
  font-size: 0.8em;
}
.btn-primary{
  color: #fff;
  border: #F1592A;
  background: #F1592A;
}
.btn-primary:hover{
  color: #000;
  border: #F1592A;
  background: #fff;
}
footer{
  background: #F1592A;
}
@media (max-width: 576px) {
  .dat{
    font-size: 1.2em;
    text-transform: uppercase;
    line-height: 1.5em;
    padding: 0 5px;
  }
  .about, .services{
    font-size: 1em;
  }
  h2.leyend{
    font-size: 0.8em;
    line-height: 1.7em;
    color: #F1592A;
    padding-top: 10px;
  }
  .colserv2{
    margin-bottom: 0;
  }
  .h{
    border-top: 3px solid #F1592A;
    width: 50px;
    position: relative;
    margin-top: 10px;
    margin-right: 5px;
  }
  .head-serv{
    display: flex;
    padding-top: 100px;
  }
  .head-serv img{
    margin-right: 20px;
  }
}